In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import random
from category_encoders import LeaveOneOutEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc
from imblearn.over_sampling import SMOTE
%matplotlib inline

In [2]:
print(os.getcwd())
os.chdir('/Users/liuyang/Desktop/Springboard_Capstone') 
print(os.getcwd())

/Users/liuyang/Desktop/Springboard_Capstone/notebooks
/Users/liuyang/Desktop/Springboard_Capstone

In [3]:
df = pd.read_csv('data/preprocessed_train.csv')

In [4]:
df.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_149,0.689,1,1,0,2,1,1,2,4,1,106,0
1,city_83,0.923,1,1,0,2,1,3,1,2,1,69,0
2,city_16,0.910,1,1,0,2,1,2,1,1,1,4,0
3,city_64,0.666,1,1,0,2,1,3,1,4,1,26,0
4,city_100,0.887,1,0,0,2,1,2,1,4,1,88,1

In [5]:
df.shape

(18359, 13)

In [6]:
X = df.drop(['target'],axis=1)
y = df['target']

In [7]:
enc = LeaveOneOutEncoder(cols=['city'])

In [8]:
X_enc = enc.fit_transform(X,y)

In [9]:
X_enc.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,0.125000,0.689,1,1,0,2,1,1,2,4,1,106
1,0.099291,0.923,1,1,0,2,1,3,1,2,1,69
2,0.093164,0.910,1,1,0,2,1,2,1,1,1,4
3,0.101695,0.666,1,1,0,2,1,3,1,4,1,26
4,0.159259,0.887,1,0,0,2,1,2,1,4,1,88

In [10]:
X_scaled = StandardScaler().fit_transform(X_enc)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.30,random_state=3)

In [12]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(12851, 12)
(5508, 12)
(12851,)
(5508,)

In [13]:
os = SMOTE(random_state=0)
#columns = X_train.columns

os_X,os_y=os.fit_sample(X_train, y_train)
# os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
# os_data_y= pd.DataFrame(data=os_data_y,columns=['target'])

In [14]:
print(os_X.shape)
print(os_y.shape)

(22242, 12)
(22242,)

In [15]:
os_y.value_counts()

1    11121
0    11121
Name: target, dtype: int64

In [16]:
X_os_train, X_os_test, y_os_train, y_os_test = train_test_split(os_X, os_y, test_size=0.3, random_state=0)
print(X_os_train.shape)
print(X_os_test.shape)
print(y_os_train.shape)
print(y_os_test.shape)

(15569, 12)
(6673, 12)
(15569,)
(6673,)